//swiper
.swiper-container {
    overflow-x: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    @extend %flex-center;
    display: inline-flex;
    width: 25px;
    height: 25px;
    border: 0.3px solid #141414;
    margin: 0;
    transition: .3s all;

    &:after {
        content: '';
    }

    svg path {
        transition: .3s stroke;
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: $accent;
            border-color: $accent;

            svg path {
                stroke: #fff;
            }
        }
    }
}

.swiper-button-prev {
    transform: rotate(90deg);
}

.swiper-button-next {
    transform: rotate(-90deg);
}

.swiper-button-next {
    margin-bottom: 0;
    margin-left: 6px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    display: none;

    @media(max-width: 992px) {
        display: flex;
        justify-content: center;
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 0;
    //background-color: ;
}

.swiper-pagination-bullet-active {
    background-color: $accent;
}

.swiper-pagination-current,
.swiper-pagination-total {
    &:before {
        content: '0'; // если хотим нумерацию 01, 02, 03, ...
        position: absolute;
        top: 0;
        left: 0;
    }
}