.services {

    padding-bottom: 5.5rem;
    // .services__grid

    &__grid {
        display: grid;
        grid-gap: 3.3rem 3.1rem;
        padding-top: 3rem;
        margin-bottom: 5rem;

        @media(max-width: 500px) {
            grid-gap: 2rem;
            margin-bottom: 3rem;
        }

        @media(min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.service-card {

    position: relative;
    padding: 3.4rem 0.8rem 4.8rem;
    @extend %gray-box;
    @extend %flex-row;
    align-items: flex-start;

    @media(max-width: 500px) {
        padding: 3rem 0.5rem;
    }

    &.hidden {
        display: none;
    }

    // .service-card__img

    &__img {
        width: 8.4rem;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
    }

    // .service-card__title

    &__title {
        position: relative;
        padding-bottom: 3.8rem;
        margin-left: 3rem;
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 700;
        transition: .3s color;
        @extend %arrow;

        @media(max-width: 1024px) {
            font-size: 2.4rem;
            line-height: 2.9rem;
            margin-left: 2rem;
        }

        @media(max-width: 500px) {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            .service-card__title {
                color: $accent;

                &:after {
                    transform: translateX(1.5rem);
                }
            }
        }
    }
}

.service-page {

    padding: 5.5rem 0 7.7rem;

    @media(max-width: 500px) {
        padding: 3rem 0;
    }

    // .service-page__title

    &__title {
        position: relative;
        @extend %text-36;
        font-weight: 700;
        padding-top: 11.6rem;

        @media(max-width: 1024px) {
            font-size: 2.4rem;
            line-height: 2.9rem;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 8.4rem;
            height: 8rem;
            background-image: url(../img/icons/services/01.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    // .service-page__content

    &__content {
        display: grid;
        grid-gap: 3.3rem;
        padding-bottom: 13rem;

        @media(max-width: 1024px) {
            padding-bottom: 7rem;
        }

        @media(max-width: 500px) {
            padding-bottom: 3rem;
            grid-gap: 2rem;
        }
    }

    // .service-page__list-title

    &__list-title {
        @media(min-width: 1025px) {
            max-width: 64rem;
        }

        @extend %text-24;
        line-height: 3.8rem;
        font-weight: 700;
        margin-bottom: 1.8rem;
    }

    // .service-page__list

    &__list {
        padding-left: 1rem;

        li {
            @extend %text-18;
            font-weight: 500;
            position: relative;
            padding-left: 1.2rem;

            &:before {
                content: '';
                position: absolute;
                top: 1rem;
                left: 0;
                width: 0.3rem;
                height: 0.3rem;
                border-radius: 50%;
                background-color: #262626;
            }
        }
    }
}