<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Услуги"
})

<body>

    <div class="wrapper" data-page="services">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        <main class="page services">
            <div class="container">
                <h1 class="page-title">Услуги</h1>
                <div class="services__grid">
                    <article class="service-card">
                        <a href="#" class="full-link"></a>
                        <div class="service-card__img">
                            <img src="img/icons/services/01.svg" alt="">
                        </div>
                        <h6 class="service-card__title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl quam et a libero sed.
                        </h6>
                    </article>
                    <article class="service-card">
                        <a href="#" class="full-link"></a>
                        <div class="service-card__img">
                            <img src="img/icons/services/02.svg" alt="">
                        </div>
                        <h6 class="service-card__title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl quam et a libero sed.
                        </h6>
                    </article>
                    <article class="service-card">
                        <a href="#" class="full-link"></a>
                        <div class="service-card__img">
                            <img src="img/icons/services/03.svg" alt="">
                        </div>
                        <h6 class="service-card__title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl quam et a libero sed.
                        </h6>
                    </article>
                    <article class="service-card">
                        <a href="#" class="full-link"></a>
                        <div class="service-card__img">
                            <img src="img/icons/services/04.svg" alt="">
                        </div>
                        <h6 class="service-card__title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl quam et a libero sed.
                        </h6>
                    </article>
                    <article class="service-card hidden">
                        <a href="#" class="full-link"></a>
                        <div class="service-card__img">
                            <img src="img/icons/services/01.svg" alt="">
                        </div>
                        <h6 class="service-card__title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl quam et a libero sed.
                        </h6>
                    </article>
                    <article class="service-card hidden">
                        <a href="#" class="full-link"></a>
                        <div class="service-card__img">
                            <img src="img/icons/services/02.svg" alt="">
                        </div>
                        <h6 class="service-card__title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl quam et a libero sed.
                        </h6>
                    </article>
                </div>

                <button class="load-btn services__more-btn" type="button">
                    <img src="img/icons/load.svg" alt="" width="60" height="60">
                    Показать еще
                </button>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        <!-- @@include('../../blocks/modules/popups/_popups.html') -->
    </div>

    @@include('../_js.html')

</body>

</html>