<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Страница услуги"
})

<body>

    <div class="wrapper" data-page="service-page">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/burger/burger-menu/_burger-menu.html')

        <main class="page service-page">
            <div class="container">
                <div class="page__inner">
                    <div class="page__content">
                        <div class="service-page__content">
                            <h1 class="service-page__title">
                                Досудебное и судебное урегулирование споров
                            </h1>
                            <div class="service-page__content-item">
                                <div class="service-page__list-title">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit:
                                </div>
                                <ul class="service-page__list">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                </ul>
                            </div>
                            <div class="service-page__content-item">
                                <div class="service-page__list-title">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit:
                                </div>
                                <ul class="service-page__list">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                </ul>
                            </div>
                        </div>

                        <a href="#" class="all-nav">
                            Все услуги
                            <span class="round-arr-btn all-nav__btn"></span>
                        </a>
                    </div>
                    <aside class="sidebar">
                        <section class="characters">
                            <a href="#" class="characters__link">
                                Действующие лица
                                <span class="round-arr-btn"></span>
                            </a>
                            <figure class="characters__figure">
                                <a href="#"><img src="img/andrew.jpg" alt=""></a>
                                <figcaption>
                                    <h4 class="characters__name">
                                        <a href="#">Паркулаб Андрей</a>
                                    </h4>
                                    <div class="characters__position">управляющий партнёр</div>
                                </figcaption>
                            </figure>
                        </section>
                        <section class="aside-projects">
                            <h4 class="aside-projects__title">Проекты:</h4>
                            <ol class="aside-projects__list">
                                <li class="aside-projects__list-item">
                                    <a href="#" class="aside-projects__link">
                                        Дело об отмене 55 млн. грн. налоговых доначислений ДП
                                        «Харківськийприладобудівний завод ім. Т. Г. Шевченка»
                                    </a>
                                </li>
                                <li class="aside-projects__list-item">
                                    <a href="#" class="aside-projects__link">
                                        Дело о взыскании с государственного бюджета 14 млн. грн. убытков из-за
                                        утраченного в уголовном производстве имущества
                                    </a>
                                </li>
                                <li class="aside-projects__list-item">
                                    <a href="#" class="aside-projects__link">
                                        Дело об отмене 60 решений о корректировке таможенной стоимости и возврата
                                        Клиенту 18 млн. грн. избыточно уплаченных таможенных платежей
                                    </a>
                                </li>
                                <li class="aside-projects__list-item">
                                    <a href="#" class="aside-projects__link">
                                        Дело о разрыве договора и взыскании с застройщика 3 877 182 грн. (Дрімлайт)
                                    </a>
                                </li>
                                <li class="aside-projects__list-item">
                                    <a href="#" class="aside-projects__link">
                                        Дело о разделе имущества в бракоразводном процессе и взыскании 8 млн. грн.
                                        компенсации
                                    </a>
                                </li>
                            </ol>
                        </section>
                    </aside>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        <!-- @@include('../../blocks/modules/popups/_popups.html') -->
    </div>

    @@include('../_js.html')

</body>

</html>