<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- ==================== SLIDERS ======================= -->
<script src="libs/swiper.min.js"></script>
<!-- ================== POPUPS ======================  -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script src="libs/jquery.magnific-popup.min.js"></script> -->

<!-- <script src="libs/jquery.validate.min.js"></script> -->
<!-- <script src="libs/jquery.maskedinput.min.js"></script> -->
<script src="js/script.js"></script>