<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css">
    <title></title>
</head>

<body>
    <div class="_progress">
        <div class="_progress__inner">
            <a href="home.html" class="_progress__link">1. Главная</a>
            <a href="new.html" class="_progress__link">2. Новое</a>
            <a href="article.html" class="_progress__link">3. Статья</a>
            <a href="services.html" class="_progress__link">4. Услуги</a>
            <a href="service-page.html" class="_progress__link">5. Услуга</a>
            <a href="projects.html" class="_progress__link">6. Проекты</a>
            <a href="project.html" class="_progress__link">7. Проект</a>
            <a href="team.html" class="_progress__link">8. Команда</a>
            <a href="partner.html" class="_progress__link">9. Партнер</a>
            <a href="contacts.html" class="_progress__link">10. Контакты</a>
        </div>
    </div>
</body>

</html>