@import './vars';
//@import './mixins';
@import './fonts';
@import './null';
//@import './grid';
@import './progress';

.container {
    width: $container + $gap * 2;
    max-width: 100%;
    padding: 0 $gap;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    @extend %flex-col;
    min-height: 100vh;
    /* @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
        background: #fff;
        backdrop-filter: blur(31px);
    } */
}

.page {
    flex: 1 1 auto;
    padding-top: 6rem;

    @media(max-width: 500px) {
        padding-top: 3rem;
    }

    &__inner {
        @media(min-width: 1025px) {
            display: grid;
            grid-template-columns: auto 25.5rem;
            grid-template: 3rem;
        }
    }
}

.full-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

@import '../components/components';